<img align="left" src="https://github.com/user-attachments/assets/664ec341-9348-40a1-9334-83728431b70a" width="300" /> 

```csharp
anordinaryusername@github
-------------------------
OS: Arch Linux x86_64
Shell: zsh 5.8
Pronouns: He/Him
Location: Artesia, CA
Frameworks: React
Languages: JavaScript, TypeScript,
           HTML, CSS
Learning: Node.js, Express, PostgreSQL,
          Three.js, CPP
Hobbies: Gardening, Cooking, Gaming
Commits: {{ totalCommitsInPastYear }}
Stars: {{ totalStars }}
Discord: RandomPotato#1377
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>