name: Build README

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout project source code
      - uses: actions/checkout@v4

      - name: Use NodeJs 22.x
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Clean install dependencies
        run: npm ci

      - name: Generate README.md
        run: npm run generate
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}

      - name: Publish README.md
        uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
